{
    "0000000000000001": {
	"ARP": {},
	"NAT": [
	    {
		"SW_PORT" : 1,
		"SW_IP" :"192.168.1.101",
		"CLIENT_IP": "192.168.1.2"
	    },
	    {
		"SW_PORT" : 2,
		"SW_IP" :"192.168.2.101",
		"CLIENT_IP": "192.168.2.2"
	    }
	]    
    }
}
